<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/cssReset.css">
  <link rel="stylesheet" href="../css/booklist.css">
</head>

<body>
  <div class="booklist-part">
    <div class="container">
      <div class="booktitle">
        <div class="tushu">
          <img src="../img/booklist/图书.png" alt="">
          <span>图书</sapn>
        </div>
      </div>
      <div class="newbooktitle">
        <img src="../img/booklist/最新上架.png" alt="">
        <a href="#"><span>最新上架</span></a>
      </div>
      <div class="newbooklist">
        <ul>
          <li><img src="../img/booklist/allbook/new_arrival/1.jpg" alt="">
            <div class="bookjs">
              <p>图说敦煌二五四窟</p>
              <p>[中国大陆]陈海涛 陈琦</p>
              <p>2021-06-30</p>
              <p>￥96.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/new_arrival/2.jpg" alt="">
            <div class="bookjs">
              <p>梦想的诗学</p>
              <p>刘自强</p>
              <p>1996-06-01</p>
              <p>￥15.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/new_arrival/3.jpg" alt="">
            <div class="bookjs">
              <p>从卡夫卡到昆德拉</p>
              <p>吴晓东</p>
              <p>2012-11-07</p>
              <p>￥39.60</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/new_arrival/4.jpg" alt="">
            <div class="bookjs">
              <p>与鲁迅相遇</p>
              <p>钱理群</p>
              <p>2012-11-07</p>
              <p>￥29.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/new_arrival/5.jpg" alt="">
            <div class="bookjs" title="从文人之文到学者之文">
              <p>从文人之文到学者之文</p>
              <p>陈平原</p>
              <p>2009-04-21</p>
              <p>￥25.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/new_arrival/6.jpg" alt="">
            <div class="bookjs">
              <p>人类学家的魔法</p>
              <p>[美] 斯道金</p>
              <p>2019-01-28</p>
              <p>￥68.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/new_arrival/7.jpg" alt="">
            <div class="bookjs">
              <p>美国社会科学的起源</p>
              <p>[美] 罗斯</p>
              <p>2018-10-22</p>
              <p>￥78.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/new_arrival/8.jpg" alt="">
            <div class="bookjs" title="马基雅维里与共和主义">
              <p>马基雅维里与共和主义</p>
              <p>[英] 斯金纳</p>
              <p>2019-06-03</p>
              <p>￥56.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/new_arrival/9.jpg" alt="">
            <div class="bookjs">
              <p>神学与科学的想象</p>
              <p>[美] 阿摩斯•冯肯斯坦</p>
              <p>2019-09-17</p>
              <p>￥72.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/new_arrival/10.jpg" alt="">
            <div class="bookjs">
              <p>比亚兹莱在中国</p>
              <p>陈子善</p>
              <p>2019-05-06</p>
              <p>￥49.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/new_arrival/11.jpg" alt="">
            <div class="bookjs">
              <p>窥视日本</p>
              <p>妹尾河童</p>
              <p>2013-09-29</p>
              <p>￥15.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/new_arrival/12.jpg" alt="">
            <div class="bookjs">
              <p>国家与祭祀</p>
              <p>[日]子安宣邦</p>
              <p>2019-03-04</p>
              <p>￥38.00</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="newbooktitle">
        <img src="../img/booklist/特别推荐.png" alt="">
        <a href="#"><span>特别推荐</span></a>
      </div>
      <div class="newbooklist">
        <ul>
          <li><img src="../img/booklist/allbook/recommend/1.jpg" alt="">
            <div class="bookjs" title="向开国领袖学习工作方法">
              <p>向开国领袖学习工作方法</p>
              <p>金冲及</p>
              <p>2021-03-29</p>
              <p>￥28.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/recommend/2.jpg" alt="">
            <div class="bookjs">
              <p>我们的中国</p>
              <p>李零</p>
              <p>2020-12-30</p>
              <p>￥298.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/recommend/3.jpg" alt="">
            <div class="bookjs" title="日俄战争：起源与开战">
              <p>日俄战争：起源与开战</p>
              <p>和田春树</p>
              <p>2018-12-24</p>
              <p>￥148.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/recommend/4.jpg" alt="">
            <div class="bookjs">
              <p>无悔</p>
              <p>陈明忠</p>
              <p>2016-08-23</p>
              <p>￥48.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/recommend/5.jpg" alt="">
            <div class="bookjs">
              <p>了不起的文明现场</p>
              <p>[中国大陆]李零</p>
              <p>2021-04-13</p>
              <p>￥88.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/recommend/6.jpg" alt="">
            <div class="bookjs">
              <p>1944：龙陵会战</p>
              <p>余戈</p>
              <p>2018-04-19</p>
              <p>￥98.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/recommend/7.jpg" alt="">
            <div class="bookjs">
              <p>海昏侯刘贺</p>
              <p>[中国大陆]辛德勇</p>
              <p>2017-06-21</p>
              <p>￥49.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/recommend/8.jpg" alt="">
            <div class="bookjs">
              <p>大时间</p>
              <p>余世存</p>
              <p>2021-03-10</p>
              <p>￥68.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/recommend/9.jpg" alt="">
            <div class="bookjs">
              <p>王道剑</p>
              <p>上官鼎</p>
              <p>2014-07-31</p>
              <p>￥129.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/recommend/10.jpg" alt="">
            <div class="bookjs">
              <p>波斯笔记（上下）</p>
              <p>李零</p>
              <p>2020-06-24</p>
              <p>￥298.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/recommend/11.jpg" alt="">
            <div class="bookjs" title="万变：李零考古艺术史文集">
              <p>万变：李零考古艺术史文集</p>
              <p>李零</p>
              <p>2017-03-06</p>
              <p>￥128.00</p>
            </div>
          </li>
          <li><img src="../img/booklist/allbook/recommend/12.jpg" alt="">
            <div class="bookjs">
              <p>图说日本美术史</p>
              <p>辻惟雄</p>
              <p>2021-03-26</p>
              <p>￥112.00</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="img-part">
    <div class="container">
      <div class="imgbox">
        <img src="../img/13193.jpg" alt="">
        <img src="../img/16387.jpg" alt="">
      </div>
    </div>
  </div>
</body>

</html>