<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/cssReset.css">
  <link rel="stylesheet" href="./css/navbar.css">
  <link rel="stylesheet" href="./css/footbar.css">
  <link rel="stylesheet" href="./css/book_detailed.css">
  <style>
    .topbar-part {
      height: 80px;
    }

    .topbar-part .container img:first-child {
      float: left;
    }

    .topbar-part .container img:nth-child(2) {
      float: right;
      /* margin-top: 20px; */
      width: 320px;
    }
  </style>
</head>

<body>
  <div class="topbar-part">
    <div class="container">
      <img src="./img/topbar/logotitle.jpg" alt="">
      <img src="./img/topbar/dhtitle.jpg" alt="">
    </div>
  </div>
  <div class="navbar-part">
    <div class="navbox">
      <div class="container clearfix">
        <div class="navbar-left">
          <ul>
            <li><a href="./index.html">首页</a></li>
            <li><a href="./overview_intro.html">概览<div class="down"></div></a>
              <div class="downlist1">
                <ol class="clearfix">
                  <li><a href="./overview_intro.html">三联简介</a></li>
                  <li><a href="./overview_historical.html">发展历程</a></li>
                  <li><a href="./overview_leader.html">领导介绍</a></li>
                  <li><a href="./overview_organization.html">组织结构</a></li>
                  <li><a href="#">荣誉</a></li>
                </ol>
              </div>
            </li>
            <li><a href="./latest_news.html">新闻<div class="down"></div></a>
              <div class="downlist1">
                <ol class="clearfix">
                  <li><a href="./latest_news.html">最新资讯</a></li>
                  <li><a href="./notice.html">公告动态</a></li>
                </ol>
              </div>
            </li>
            <li class="active"><a href="./book.html">图书</a></li>
            <li><a href="#">刊群<div class="down"></div></a>
              <div class="downlist1">
                <ol class="clearfix">
                  <li><a href="#">读书</a></li>
                  <li><a href="#">三联生活周刊</a></li>
                  <li><a href="#">新知</a></li>
                  <li><a href="#">三联爱乐</a></li>
                </ol>
              </div>
            </li>
            <li><a href="./shop_hours.html">门店<div class="down"></div></a>
              <div class="downlist1 downlast">
                <ol class="clearfix">
                  <li><a href="./shop_hours.html">三联韬奋24小时书店</a></li>
                  <li><a href="./shop_haidian.html">海淀分店</a></li>
                  <li><a href="./shop_center.html">北京政务中心店</a></li>
                  <li><a href="./shop_chengdu.html">成都分店</a></li>
                  <li><a href="./shop_slt.html">三里屯分店</a></li>
                </ol>
              </div>
            </li>
            <li><a href="./author.html">作者</a></li>
            <li><a href="./login.html">读者</a></li>
          </ul>
        </div>
        <div class="navbar-right">
          <a href="#"><img src="./img/navbar/douban.png" alt=""></a>
          <a href="#" a><img src="./img/navbar/mao.png" alt=""></a>
          <a href="#"><img src="./img/navbar/weibo.png" alt=""></a>
          <a href="#"><img src="./img/navbar/weixin.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  <div class="book_detailed-part">
    <div class="container">
      <img src="./img/banner1.jpg" alt="" class="book_detailed-top">
      <div class="breadnav">
        <div class="breadbox">
          <img src="./img/home.png" alt="">
          <span><a href="./index.html">首页</a></span>
          <span>图书详细</span>
        </div>
      </div>
      <div class="bookbox">
        <!-- <img src="./img/booklist/allbook/new_arrival/1.jpg" alt="">
                <div class="detailed">
                    <h2>清季一个京官的生活</h2>
                    <p>作者：[中国香港]张德昌</p>
                    <p>编辑：赵庆丰</p>
                    <p>ISBN：978-7-108-06648-0</p>
                    <p>出版日期：2021-07-27</p>
                    <p>定价：￥38.00</p>
                    <div class="goumai"><a href="#"><img src="./img/goumai.gif" alt=""></a></div>
                </div> -->
      </div>
      <div class="editlike">
        <div class="title">
          <span>编辑推荐:</span>
          <img src="./img/链接.png" alt="">
        </div>
        <div class="text">
          <p>
            清末听一场戏花费几何？米煤油都是怎么卖的？一件皮衣多少钱？一位五品官员工资多少？他的钱都花哪了？本书从《李慈铭日记》中摘出所有有关物价、收支的资料，还原清末北京城的消费水平和一位京官的日常收入和开销。带读着窥见京官生活的真相，了解清季财政、社会、经济连锁性的症结所在。
          </p>
        </div>
      </div>
      <div class="editlike">
        <div class="title">
          <span>内容简介:</span>
          <img src="./img/链接.png" alt="">
        </div>
        <div class="text">
          <p>
            京官，指的是在京城供职的官员，包括翰林院编检、科道和各部院司官共一千四百多人。一个典型的京官到底过着怎样的生活呢？他们既讲求居处、冶游应酬，导致花费浩繁，又屡屡陷入极端贫困，甚至靠典质为生。实在过不下去的时候，他们也不愿换一种生活方式或者干脆离开北京。
          </p>
          <p>本书以清末著名清流官僚李慈铭的《越缦堂日记》为主要资料，详细梳理了李氏三十余年中的实际收入支出，并旁考他书，带读着窥见京官生活的真相，了解清季财政、社会、经济连锁性的症结所在。</p>
        </div>
      </div>
      <div class="editlike">
        <div class="title">
          <span>章节目录:</span>
          <img src="./img/链接.png" alt="">
        </div>
        <div class="text">
          <p>序　言</p>
          　　 <p><strong>第一章</strong>　一个京官的一生—— 李慈铭的生平</p>
          　　 <p><strong>第二章</strong>　京官的生活</p>
          　　　　 一　由李慈铭《越缦堂日记》中所见的京官生活<br>
          　　　　 二　李慈铭为京官时期每年收入表（同治二年至光绪十五年）<br>
          　　　　 三　李慈铭为京官时期每年支出表（同治二年至光绪十五年）<br>
          　　 <p><strong>第三章</strong>　京官与外官</p>
          　　 <p><strong>第四章</strong>　结　论</p>
          <p><strong>附　录</strong></p>
          　　　　 <p>一　有关银钱比价的资料</p>
          　　　　 <p>二　有关物价的资料</p>
          　　　　 <p>三　有关工资的资料</p>
          　　 <p>参考书目</p>

        </div>
      </div>
      <div class="editlike">
        <div class="title">
          <span>作者简介:</span>
          <img src="./img/链接.png" alt="">
        </div>
        <div class="text">
          <p>张德昌，1935 年毕业于清华大学，同年到英国伦敦政治经济学院进行为期两年的经济学研究，1937 年回国，任清华大学经济史教授，后任职于香港中文大学，主要学术兴趣为中国经济史研究。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footbar-part">
    <div class="container">
      <div class="foot-left">
        <img src="./img/footbar/logo.png" alt="">
      </div>
      <div class="foot-right">
        <p>地址：中国北京美术馆东街22号 100010 | 电话：8610-6400142</p>
        <p>Copyright © 2013 SDX Joint Publishing Company.All rights Reserved</p>
        <p>生活·读书·新知三联书店版权所有 | 技术支持：云章科技 </p>
        <p>ICP备 案 号：京ICP备401404号-3</p>
      </div>
    </div>
  </div>
  <script>
    window.onload = function () {
      console.log(window.location.href);
      var id = window.location.href.split('?')[1];
      console.log(id);
      ajax(id);
    }
    function ajax(id) {
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {
          if (xhr.status >= 200 && xhr.status < 300) {
            var result = JSON.parse(xhr.responseText);
            console.log(result.data);
            var str = ``;
            for (var key of result.data) {
              str += `
                    <img src="./${key.bo_pic}" alt="">
                    <div class="detailed">
                    <h2>${key.bo_name}</h2>
                    <p>作者：${key.bo_author}</p>
                    <p>编辑：${key.bo_edit}</p>
                    <p>ISBN：${key.bo_ISBN}</p>
                    <p>出版日期：${key.bo_data.substring(0,10)}</p>
                    <p>定价：￥${key.bo_price}</p>
                    <div class="goumai"><a><img src="./img/goumai.gif" alt=""></a></div>  
                    </div>   
                     `
            }
            var book = document.querySelector(`.book_detailed-part .bookbox`);
            book.innerHTML = str
            var book_buy = document.querySelector(`.book_detailed-part .bookbox .detailed img`);
            book_buy.onclick = function () {
              if (document.cookie.indexOf("uname")) {
                alert("请先登录")
                window.location.href = "./login.html";
              } else {
                ajax2(document.cookie.split("=")[1],id,result.data[0].bo_pic,result.data[0].bo_name,result.data[0].bo_author,result.data[0].bo_price);
                window.location.href = "./userinfo.html";
              }
            }
          } else {
            console.log('返回错误');
          }
        }
      }
      xhr.open('get', `/news/book_detailed?id=${id}`, true);
      xhr.send();
    }
    function ajax2(usname,id,pic,bna,bau,bpr){
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(){
            if(xhr.readyState==4){
                if(xhr.status>=200&&xhr.status<300){
                    var result = JSON.parse(xhr.responseText);
                }else{
                    console.log('返回错误');
                }
            }
        }
        xhr.open('post', `/news/usershop`, true);
        xhr.setRequestHeader('Content-type','application/x-www-form-urlencoded')
        xhr.send(`usname=${usname}&id=${id}&pic=${pic}&bna=${bna}&bau=${bau}&bpr=${bpr}`);
    }
  </script>
</body>

</html>