<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/cssReset.css">
  <link rel="stylesheet" href="../css/carousebar.css">
  <title>Document</title>
</head>
<body>
  <div class="carousebar-part">
    <div class="container clearfix">
      <div class="lunbo-text">
        <ul>
          <li class="clearfix"><a><img src="../img/carousebar/资讯.png" alt=""> 最新资讯<img src="../img/carousebar/大于.png"></a>
          <div class="left-list">
            <ul>
              <li><a href="#">• 世界读书日 三联书店店史馆正式开馆 (2021-05-25)</a></li>
              <li><a href="#">• 沈昌文先生遗体告别仪式在京举行(2021-01-15)</li>
              <li><a href="#">• 沈昌文同志生平(2021-01-15)</a></li>
              <li><a href="#">• 沈昌文同志讣告(2021-01-11)</a></li>
              <li><a href="#">• 生活•读书•新知(2021-01-25)</a></li>
              <li><a href="#">• 生活•读书•新知(2021-01-15)</a></li>
            </ul>
          </div>
          </li>
          <li class="clearfix"><a><img src="../img/carousebar/公告.png" alt=""> 公告动态<img src="../img/carousebar/大于.png"></a>
            <div class="left-list">
              <ul>
                <li><a href="#">• 人生大角色,京剧了不起(2021-07-07)</a></li>
                <li><a href="#">• 史前的现代化:回到一万年前的中国(2021-06-18)</li>
                <li><a href="#">• 《波斯笔记》荣获伊朗国际年度图书奖(2021-05-25)</a></li>
                <li><a href="#">• “青春同心•永跟党走”(2021-05-25)</a></li>
                <li><a href="#">• 三联·新知大会 | 第三季(2021-03-29)</a></li>
                <li><a href="#">• 书单 | 三联书店2020年度好书(2020-12-31)</a></li>
              </ul>
            </div>
          </li>
          <li class="clearfix"><a><img src="../img/carousebar/排行榜.png" alt=""> 图书排行榜<img src="../img/carousebar/大于.png"></a>
            <div class="left-rank">
              <ul>
                <li title="万历十五年"><a href="#" class="clearfix"><span>①</span>
                  <img src="../img/carousebar/rank/1.jpg" alt="">
                  <div class="book">
                    <p>书名:<strong>万历十五年</strong></p>
                    <p>价格:<span>￥29</span></p>
                  </div>
                </a></li>
                <li title="人类的群星闪耀时"><a href="#"><span>②</span>
                  <img src="../img/carousebar/rank/2.jpg" alt="">
                  <div class="book">
                    <p>书名:<strong>人类的群星闪耀时</strong></p>
                    <p>价格:<span>￥50</span></p>
                  </div>
                </a></li>
                <li title="青年王阳明(1472-1509)"><a href="#"><span>③</span>
                  <img src="../img/carousebar/rank/3.jpg" alt="">
                  <div class="book">
                    <p>书名:<strong>青年王阳明(1472-1509)</strong></p>
                    <p>价格:<span>￥29</span></p>
                  </div>
                </a></li>
                <li title="中国空间策略：帝都北京1420-1911"><a href="#"><span>④</span>
                  <img src="../img/carousebar/rank/4.jpg" alt="">
                  <div class="book">
                    <p>书名:<strong>中国空间策略：帝都北京1420-1911</strong></p>
                    <p>价格:<span>￥53</span></p>
                  </div>
                </a></li>
                <li title="日本设计：艺术、审美与文化"><a href="#"><span>⑤</span>
                  <img src="../img/carousebar/rank/5.jpg" alt="">
                  <div class="book">
                    <p>书名:<strong>日本设计：艺术、审美与文化</strong></p>
                    <p>价格:<span>￥68</span></p>
                  </div>
                </a></li>
              </ul>
            </div>
          </li>
          <li class="clearfix"><a><img src="../img/carousebar/书评.png" alt=""> 书讯书评<img src="../img/carousebar/大于.png"></a>
            <div class="left-list">
              <ul>
                <li><a href="#">1. 三联新书：2021年7月</a></li>
                <li><a href="#">2. 三联新书：2021年6月</li>
                <li><a href="#">3. 三联新书：2021年5月</a></li>
                <li><a href="#">4. 三联新书：2021年4月</a></li>
                <li><a href="#">5. 三联新书：2021年3月</a></li>
                <li><a href="#">6. 《火夜》：靠近光的旅程</a></li>
              </ul>
            </div>
          </li>
          <li class="clearfix"><a><img src="../img/carousebar/摘要.png" alt=""> 文丛书摘<img src="../img/carousebar/大于.png"></a>
            <div class="left-abstract">
              <h3>文丛书摘</h3>
              <ul>
                <li>•《写设计》：一本艺术书的诞生</li>
                <li title="《白鸽木兰》：一本未尽之书，历史的长卷还在缓缓铺陈">•《白鸽木兰》：一本未尽之书，历史的长卷还在缓缓铺陈</li>
                <li>• 讲给孩子 | 该不该学点国学？</li>
                <li title="王石《我的改变：个人的现代化40年》序言">• 王石《我的改变：个人的现代化40年》序言</li>
                <li>• 唐诺：那些让京都仍活着的东西</li>
                <li>• 巫鸿丨什么是敦煌艺术</li>
                <li>• 乌托邦、恶托邦、异托邦</li>
                <li title="在西方绘画作品被封杀的岁月，这样的插画不啻珍宝">• 在西方绘画作品被封杀的岁月，这样的插画不啻珍宝</li>
                <li>• 新知 | 如何定义千克？</li>
                <li>• 创造大众读物经典</li>
              </ul>
              <ul>
                <li>• 金庸：写给“三联版”读者的话</li>
                <li>• 两代人之间：理想的明灭与重燃</li>
                <li title="“我的大历史观” ｜ 黄仁宇先生百年诞辰纪念">• “我的大历史观” ｜ 黄仁宇先生百年诞辰纪念</li>
                <li>• 茅海建：又逢戊戌 ｜ 戊戌变法120周年</li>
                <li>•  “我们仨都没有虚度此生”</li>
                <li>• 凡记下的就存在</li>
                <li>• 茶的真实历史</li>
                <li>• 张择端为我书制图</li>
                <li>• 浅谈李贽与鲁迅</li>
                <li>• 杨绛：像硬米粒儿一样的傅雷</li>
              </ul>
            </div>
          </li>
          <li class="clearfix"><a><img src="../img/carousebar/联系我们.png" alt=""> 练习我们<img src="../img/carousebar/大于.png"></a>
            <div class="left-phone">
              <h3>联系我们</h3>
              <p>地址：中国北京美术馆东街22号（100010）</p>
              <p>总机：8610-64001122</p>
              <p>购书：010-84010542　/　84010541</p>
              <h3>关注我们</h3>
              <div class="lxwm-icon">
                <div class="item"><a href="#"><img src="../img/carousebar/dou.png" alt=""><p>豆瓣</p</a></div>
                <div class="item"><a href="#"><img src="../img/carousebar/wei.png" alt=""><p>微信</p</a></div>
                <div class="item"><a href="#"><img src="../img/carousebar/bo.png" alt=""><p>微博</p></a></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="lunbo-img">
        <div class="lb-pic" id="lb_pic">
        <img src="../img/carousebar/16013.jpeg" alt="">
        <img src="../img/carousebar/16351.jpeg" alt="">
        <img src="../img/carousebar/16381.jpeg" alt="">
        <img src="../img/carousebar/16451.jpeg" alt="">
        <img src="../img/carousebar/16512.jpeg" alt="">
      </div>
        <div class="lb-dian">
          <ul>
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="lb-left" onclick="lb_left()" id="lb_left"><div class="icon-left"></div></div>
        <div class="lb-right" onclick="lb_right()" id="lb_right"><div class="icon-right"></div></div>
      </div>
    </div>
  </div>
  <script src="../js/carouse.js"></script>
</body>
</html>