<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cssReset.css">
    <link rel="stylesheet" href="../css/footbar.css">
    <title>Document</title>
</head>
<body>
    <div class="footbar-part">
        <div class="container">
            <div class="foot-left">
                <img src="../img/footbar/logo.png" alt="">
            </div>
            <div class="foot-right">
                <p>地址：中国北京美术馆东街22号 100010  |  电话：8610-64001122</p>
                <p>Copyright © 2013 SDX Joint Publishing Company.All rights Reserved</p>
                <p>生活·读书·新知三联书店版权所有 | 技术支持：云章科技 </p>
                <p>ICP备 案 号：京ICP备12011204号-3</p>
            </div>
        </div>
    </div>
</body>
</html>