<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cssReset.css">
    <link rel="stylesheet" href="../css/friendlybar.css">
    <title>Document</title>
</head>
<body>
    <div class="friendlybar">
        <div class="container">
            <div class="friendly-link">
                <img src="../img/friendlybar/12880.png" alt="">
                <img src="../img/friendlybar/12882.gif" alt="">
                <img src="../img/friendlybar/12884.jpg" alt="">
                <img src="../img/friendlybar/12885.gif" alt="">
                <img src="../img/friendlybar/12890.png" alt="">
                <img src="../img/friendlybar/15331.jpeg" alt="">
                <img src="../img/friendlybar/9527.gif" alt="">
                <img src="../img/friendlybar/9528.gif" alt="">
            </div>
        </div>
    </div>
</body>
</html>