<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cssReset.css">
    <link rel="stylesheet" href="../css/leader.css">
</head>
<body>
    <div class="leader-part">
        <div class="container">
            <img src="../img/banner1.jpg" alt="" class="intro-top">
            <div class="breadnav">
                <div class="breadbox">
                    <img src="../img/home.png" alt="">
                    <span>首页</span>
                    <span>三联书店领导人</span>
                </div>
            </div>
            <h2>三联书店领导人</h2>
            <h3>三联书店领导成员 </h3>
            <div class="leaderbox">
                <img src="../img/16431.jpg" alt="">
                <div class="text">
                    <p><strong>肖启明 生活・读书・新知三联书店有限公司 执行董事、党委书记</strong></p>
                    <p><strong>尹 涛 生活・读书・新知三联书店有限公司 总编辑</strong></p>
                    <p><strong>常绍民 生活・读书・新知三联书店有限公司 副总编辑</strong></p>
                    <p><strong>何 奎 生活・读书・新知三联书店有限公司 副总编辑、纪委书记</strong></p>
                    <p><strong>陈义望 生活・读书・新知三联书店有限公司 副总经理</strong></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>