<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/cssReset.css">
  <link rel="stylesheet" href="../css/navbar.css">
  <title>Document</title>
</head>

<body>
  <div class="navbar-part">
    <div class="navbox">
      <div class="container clearfix">
        <div class="navbar-left">
          <ul>
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#">概览<div class="down"></div></a>
              <div class="downlist1">
                <ol class="clearfix">
                  <li>三联发展</li>
                  <li>发展历程</li>
                  <li>领导介绍</li>
                  <li>组织结构</li>
                  <li>荣誉</li>
                </ol>
              </div>
            </li>
            <li><a href="#">新闻<div class="down"></div></a>
              <div class="downlist1">
                <ol class="clearfix">
                  <li>最新资讯</li>
                  <li>公告动态</li>
                </ol>
              </div>
            </li>
            <li><a href="#">图书</a></li>
            <li><a href="#">刊群<div class="down"></div></a>
              <div class="downlist1">
                <ol class="clearfix">
                  <li>读书</li>
                  <li>三联生活周刊</li>
                  <li>新知</li>
                  <li>三联爱乐</li>
                </ol>
              </div>
            </li>
            <li><a href="#">门店<div class="down"></div></a>
              <div class="downlist1 downlast">
                <ol class="clearfix">
                  <li>三联韬奋24小时书店</li>
                  <li>海淀分店</li>
                  <li>北京政务中心店</li>
                  <li>成都分店</li>
                  <li>三里屯分店</li>
                </ol>
              </div>
            </li>
            <li><a href="#">作者</a></li>
            <li><a href="#">读者</a></li>
          </ul>
        </div>
        <div class="navbar-right">
          <a href="#"><img src="../img/navbar/douban.png" alt=""></a>
          <a href="#" a><img src="../img/navbar/mao.png" alt=""></a>
          <a href="#"><img src="../img/navbar/weibo.png" alt=""></a>
          <a href="#"><img src="../img/navbar/weixin.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>