<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/cssReset.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/footbar.css">
    <link rel="stylesheet" href="./css/intro.css">
</head>
<style>
    .topbar-part{
        height: 80px;
    }
    .topbar-part .container img:first-child{
      float: left;
    }
    .topbar-part .container img:nth-child(2){
      float: right;
      /* margin-top: 20px; */
      width: 320px;
    }
</style>
<body>
    <div class="topbar-part">
        <div class="container">
          <img src="./img/topbar/logotitle.jpg" alt="">
          <img src="./img/topbar/dhtitle.jpg" alt="">
        </div>
    </div>
    <div class="navbar-part">
        <div class="navbox">
          <div class="container clearfix">
            <div class="navbar-left">
              <ul>
                <li><a href="./index.html">首页</a></li>
                <li class="active"><a href="#">概览<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="#">三联简介</a></li>
                      <li><a href="./overview_historical.html">发展历程</a></li>
                      <li><a href="./overview_leader.html">领导介绍</a></li>
                      <li><a href="./overview_organization.html">组织结构</a></li>
                      <li><a href="#">荣誉</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./latest_news.html">新闻<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="./latest_news.html">最新资讯</a></li>
                      <li><a href="./notice.html">公告动态</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./book.html">图书</a></li>
                <li><a href="#">刊群<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="#">读书</a></li>
                      <li><a href="#">三联生活周刊</a></li>
                      <li><a href="#">新知</a></li>
                      <li><a href="#">三联爱乐</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./shop_hours.html">门店<div class="down"></div></a>
                  <div class="downlist1 downlast">
                    <ol class="clearfix">
                      <li><a href="./shop_hours.html">三联韬奋24小时书店</a></li>
                      <li><a href="./shop_haidian.html">海淀分店</a></li>
                      <li><a href="./shop_center.html">北京政务中心店</a></li>
                      <li><a href="./shop_chengdu.html">成都分店</a></li>
                      <li><a href="./shop_slt.html">三里屯分店</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./author.html">作者</a></li>
                <li><a href="./login.html">读者</a></li>
              </ul>
            </div>
            <div class="navbar-right">
              <a href="#"><img src="./img/navbar/douban.png" alt=""></a>
              <a href="#" a><img src="./img/navbar/mao.png" alt=""></a>
              <a href="#"><img src="./img/navbar/weibo.png" alt=""></a>
              <a href="#"><img src="./img/navbar/weixin.png" alt=""></a>
            </div>
          </div>
        </div>
    </div>
    <div class="intro-part">
        <div class="container">
            <img src="./img/banner1.jpg" alt="" class="intro-top">
            <div class="breadnav">
                <div class="breadbox">
                    <img src="./img/home.png" alt="">
                    <span><a href="./index.html">首页</a></span>
                    <span>三联书店介绍</span>
                </div>
            </div>
            <h2>生活·读书·新知三联书店有限公司简介</h2>
            <p>生活・读书・新知三联书店是一家具有悠久历史和光荣传统的出版机构。建店八十余年来，始终秉承“竭诚为读者服务”的宗旨，恪守“人文精神，思想智慧”的理念，坚持“一流、新锐”的标准，以出版人文科学和社会科学图书为主，出版物涉及哲学、历史、文学、艺术、经济、政治、法律和社会生活等领域，在知识界和广大读者中享有盛誉，被誉为“中国知识分子的精神家园”。</p>
            <p>1932年7月邹韬奋先生在上海创办生活书店，1948年生活书店与成立于20世纪30年代的读书出版社、新知书店在香港合并成立生活・读书・新知三联书店。1951年三联书店并入人民出版社作为其副牌。1986年1月正式恢复独立建制。1996年1月，三联书店迁入北京市东城区美术馆东街22号营业。2002年4月三联书店划归中国出版集团公司，2010年7月随中国出版集团公司改制为企业，现为中国出版传媒股份有限公司全资子公司。目前旗下有学术出版分社、文化出版分社、综合出版分社、大众出版分社、专题出版分社、信息技术与数字出版部六个出版部门；《读书》《三联生活周刊》《爱乐》《新知》四种期刊；北京三联韬奋书店、三联书店（上海）有限公司、三联时空国际文化传播有限公司、生活书店出版有限公司等分支机构。</p>
            <p>三联书店建店以来出版各类图书8000余种。其中，《陈寅恪集》《钱钟书集》《金克木集》、“三联哈佛燕京学术丛书”等经典著作，具有重要思想文化价值和深广社会影响力；《傅雷家书》《随想录》《我们仨》《目送》、“新知文库”等文化类读物，畅销不衰，深受各界读者喜爱；“现代西方学术文库”“文化生活译丛”“学术前沿”“西学源流”等丛书和译著，在介绍外国优秀思想文化方面发挥了重要作用；《金庸作品集》《蔡志忠中国古籍漫画系列》等大众读物，在读者中产生重要影响；近年推出的《邓小平时代》《中国经济改革二十讲》《中华文明的核心价值》等作品影响广泛，深受好评。《读书》《三联生活周刊》被评为“新中国60年有影响力的期刊”。</p>
            <p>2009年荣获“全国百佳图书出版单位”、2010年荣获第二届出版政府奖先进单位奖，2011年被评为全国新闻出版系统先进集体。2012年7月，“三联书店创建八十周年庆祝大会”在人民大会堂隆重召开，胡锦涛、吴邦国、温家宝、李长春、习近平、李克强等中央领导同志分别题词或致贺信，李长春接见与会代表，刘云山同志出席大会并发表重要讲话，三联书店品牌影响力空前扩大。2014年4月三联韬奋24小时书店创立，李克强总理致信祝贺，赞赏创建24小时不打烊书店这一创意。2014年，被评为“首都文化企业三十佳”。2015年，三联书店团支部获评团中央2014年度“全国五四红旗团支部”称号。</p>
            <p>2015年，三联书店确立了以品牌化战略（包括品牌文化建设、品牌产品建设、品牌人才建设）为统领，以数字化战略、国际化战略、集团化战略为支撑的企业发展战略，以及书刊出版主业壮大发展、周刊全媒体运营带动业态转型、韬奋24小时书店分店建设三位一体、协调发展、共同推进的企业发展布局，目前正朝着成为现代化、国际化、集团化的著名出版企业的目标大步前进。</p>
        </div>
    </div>
    <div class="footbar-part">
        <div class="container">
            <div class="foot-left">
                <img src="./img/footbar/logo.png" alt="">
            </div>
            <div class="foot-right">
                <p>地址：中国北京美术馆东街22号 100010  |  电话：8610-64001122</p>
                <p>Copyright © 2013 SDX Joint Publishing Company.All rights Reserved</p>
                <p>生活·读书·新知三联书店版权所有 | 技术支持：云章科技 </p>
                <p>ICP备 案 号：京ICP备12011204号-3</p>
            </div>
        </div>
    </div>
</body>
</html>