<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/cssReset.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/historical.css">
    <link rel="stylesheet" href="./css/footbar.css">
</head>
    <style>
        .topbar-part{
            height: 80px;
        }
        .topbar-part .container img:first-child{
          float: left;
        }
        .topbar-part .container img:nth-child(2){
          float: right;
          /* margin-top: 20px; */
          width: 320px;
        }
    </style>
<body>
    <div class="topbar-part">
        <div class="container">
          <img src="./img/topbar/logotitle.jpg" alt="">
          <img src="./img/topbar/dhtitle.jpg" alt="">
        </div>
    </div>
    <div class="navbar-part">
        <div class="navbox">
          <div class="container clearfix">
            <div class="navbar-left">
              <ul>
                <li><a href="./index.html">首页</a></li>
                <li class="active"><a href="./overview_intro.html">概览<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="./overview_intro.html">三联简介</a></li>
                      <li><a href="#">发展历程</a></li>
                      <li><a href="./overview_leader.html">领导介绍</a></li>
                      <li><a href="./overview_organization.html">组织结构</a></li>
                      <li><a href="#">荣誉</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./latest_news.html">新闻<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="./latest_news.html">最新资讯</a></li>
                      <li><a href="./notice.html">公告动态</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./book.html">图书</a></li>
                <li><a href="#">刊群<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="#">读书</a></li>
                      <li><a href="#">三联生活周刊</a></li>
                      <li><a href="#">新知</a></li>
                      <li><a href="#">三联爱乐</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./shop_hours.html">门店<div class="down"></div></a>
                  <div class="downlist1 downlast">
                    <ol class="clearfix">
                      <li><a href="./shop_hours.html">三联韬奋24小时书店</a></li>
                      <li><a href="./shop_haidian.html">海淀分店</a></li>
                      <li><a href="./shop_center.html">北京政务中心店</a></li>
                      <li><a href="./shop_chengdu.html">成都分店</a></li>
                      <li><a href="./shop_slt.html">三里屯分店</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./author.html">作者</a></li>
                <li><a href="./login.html">读者</a></li>
              </ul>
            </div>
            <div class="navbar-right">
              <a href="#"><img src="./img/navbar/douban.png" alt=""></a>
              <a href="#" a><img src="./img/navbar/mao.png" alt=""></a>
              <a href="#"><img src="./img/navbar/weibo.png" alt=""></a>
              <a href="#"><img src="./img/navbar/weixin.png" alt=""></a>
            </div>
          </div>
        </div>
    </div>
    <div class="historical-part">
        <div class="container">
            <img src="./img/banner1.jpg" alt="" class="intro-top">
            <div class="breadnav">
                <div class="breadbox">
                    <img src="./img/home.png" alt="">
                    <span><a href="./index.html">首页</a></span>
                    <span>历史足迹</span>
                </div>
            </div>
            <h2>历史足迹</h2>
            <strong>1932年，生活书店成立。1935年，新知书店成立。1936年，读书出版社成立。</strong>
            <strong>三家出版社，志同道合：启蒙思想，开拓眼界，陶冶性情；引领读者，更是服务读者。</strong>
            <strong>1948年，三家出版社走到一处，合并成立生活・读书・新知三联书店，从此三位一体，爱生活，读好书，求新知。</strong>
            <p>三联书店，全称为生活・读书・新知三联书店，它的前身是三十年代在上海创立的生活书店、读书出版社和新知书店。1948年三店在香港合并，正式成立生活・读书・新知三联书店，1951年并入人民出版社，1986年恢复独立建制，2002年加入中国出版集团。在不同的时期，三联书店都发挥着积极的作用，以其优良的历史传统和强烈的人文精神，走过几十年的风雨历程。</p>
            <div class="item">
                <strong>○ 时代急流（1932―1948）</strong>
                <p>以大无畏的精神追求真理，以厚重的人文关怀去关注现实问题。</p>
                <p>三联书店的前身是本世纪三四十年代活跃于中国出版界的三家著名出版发行机构――生活书店、读书出版社、新知书店。</p>
                <p>生活书店成立于1932年7月，创办人是邹韬奋、胡愈之、徐伯昕等，前身是创办于1925年的《生活》周刊。读书出版社成立于1936年，创办人是李公朴、艾思奇、黄洛峰等，前身是1934年创刊的《读书生活》半月刊，1937年更名为读书生活出版社。新知书店成立于1935年，创办人是钱俊瑞、徐雪寒、华应申等，前身是《中国农村》月刊。作为三联书店前身的三家书店，在三四十年代具有很大的影响力，各自都有着光荣的历史。</p>
                <p>从1928年6月《生活》周刊社开始出版图书，至1948年10月三店正式合并为止，三店共出版图书2000余种，先后共编辑出版期刊约50种。这些书刊宣传爱国进步思想，引导读者追求真理，被大众广泛接受，在中国民族民主革命时期产生过巨大影响。同时，三店先后在上海、汉口、广州、西安、香港等地开办过百余家分店。</p>
                <p>　1945年抗日战争胜利后，重庆的生活、读书、新知三店合并，“这种合并，不是结束，而是团结；不是退守，而是前进；不是衰老，而是新生；不是缩小，而是发展”。1948年10月三家书店全面合并，在香港成立生活・读书・新知三联书店总管理处。1949年3月，总管理处迁至北京。</p>
            </div>
            <div class="item">
                <strong>○ 学术薪传（1949―1957）</strong>
                <p>1954年下半年至1957年上半年，仅仅三年时间，却是学术基因植入三联书店的一次重要机会。</p>
                <p>三店合并之后的出版工作主要集中在两个方面，一方面是整理出版过去三店的出版物，另一方面是出版两个刊物和两套丛书，即《学习》月刊和《科学技术通讯》月刊、“青年文库”和“新中国百科小丛书”。1949-1950年间，出版了《中国革命与中国共产党》（毛泽东著）、《价值、价格与利润》（马克思著）、《大音乐家及其名曲》（居甫著）、《双城记》（C・狄根斯著）、《简明中国通史》（吕振羽著）等各类读物364种。</p>
                <p>1951年8月，三联书店并入人民出版社，仍保留“三联”名义出书，按需要出版“非马列”或“力图运用马列但还不纯熟”的著作。1954年4月，三联获中央批准有了自己的编辑室，下辖中国历史、外国历史、地理等六个编辑组。这期间，由陈原负责、戴文葆和史枚两位编辑制定了“翻译世界学术著作规划”，据此出版的第一部译著即为黑格尔《小逻辑》，随后又出版了黑格尔《历史哲学》、凯恩斯《就业、利息和货币通论》、康德《纯粹理性批判》等，以及许多前苏联学者的译作。原创学术著作有陈寅恪《隋唐制度渊源略论稿》、陈登原《国史旧闻》、张荫麟《中国史纲》、邓之诚《桑园读书记》等等。这一时期，三联的出版物结构和读者结构在不知不觉中发生变化，学术基因已经植入三联。</p>
            </div>
            <div class="item">
                <strong>○《读书》启蒙（1977―1985）</strong>
                <p>1978年，中国变革的帷幕徐徐拉开，合并成立整30年的三联书店也开始重振旗鼓。在受益于社会变革的同时，三联书店也迅速成为变革的推动者――这种良性的互动，自《读书》杂志创办起，三十年来一直延续着。</p>
                <p>1979年，《读书》杂志创办。创刊号上的“读书无禁区”，成为新启蒙时代标志性的口号和文化知识界的“集体记忆”。在次年第一期的《读书》杂志上，陈翰伯执笔撰文，重申办刊宗旨，坦荡地坚持“读书无禁区”的主张，并宣告：探索真理的工作绝不是一代人所能完成的；听凭某一圣哲一言定鼎的办法，更是不足为训；我们愿意和读者一起在激荡的思想海洋里，各自拿出一点智慧来……《读书》杂志的品格由此定型，《读书》也成为近三十年来数代读书人的精神家园。</p>
                <p>这一时期，三联书店的出版物分为两大部分：</p>
                <p>一是 “大作家的小作品”。这期间，三联书店出版了《傅雷家书》（傅敏编）、《干校六记》（杨绛著）、《语文常谈》（吕叔湘著）、《三松堂自序》（冯友兰著）、《乡土中国》（费孝通著）以及多卷杂文家专集等(包括夏衍、柯灵、聂绀弩、廖沫沙、胡风等人的杂文集)。</p>
                <p>二是译介西方十九世纪末二十世纪初的优秀成果。《情爱论》、《夏洛蒂・勃朗特书信》、《欧洲文化的起源》、《人类群星闪耀时》、《异端的权利》等畅销一时的图书共同构成了三联书店的“文化生活译丛”。</p>
            </div>
            <div class="item">
                <strong>○ 恢复建制（1986―1992）</strong>
                <p>坚持知识分子立场和文化立场，面向多层次的知识大众；出版物注重思想性、启发性，强调阅读的乐趣。</p>
                <p>1986年1月1日，三联书店恢复独立建制。</p>
                <p>独立之后，通过出版“文化：中国与世界”丛书，三联书店团结了一批新的中青年著译者，他们给三联带来了“现代西方学术文库”与“新知文库”两套十分重要的丛书。《悲剧的诞生》作为“现代西方学术文库”的第一种，于1986年出版。这是文革后首次批量译介西方现代学术名著，随后陆续出版的了《存在与虚无》、《存在与时间》等一系列学术著作，在当时社会引起强烈反响。</p>
                <p>在不断推出面向中高层读者的图书的同时，上个世纪80年代末90年代初期，三联书店还推出了一系列面向大众的读物，包括“蔡志忠中国古籍漫画系列”、“中华文库”（海峡两岸共同策划，同时出版）、和“经营智慧丛书”等，其中影响最大的是“蔡志忠中国古籍漫画系列”，至今畅销不衰。</p>
            </div>
            <div class="item">
                <strong>○ 一主两翼（1993―2002）</strong>
                <p>“在金钱与权力之外，三联图书建立了第三种尊严：知识的尊严、思想的尊严和知识分子的尊严。”</p>
                <p>在“学问家凸现、思想家淡出”的九十年代，整个社会的阅读风向也发生了转变。三联书店以“必须领先别人半步”的理念，对自己的出版方针做了调整，形成了“一主两翼”的发展战略：</p>
                <p>以学术文化出版为本位为中心，确保三联的出版文化品牌；</p>
                <p>以三联分销店的形式建设通道，确保三联出版物渠道的通畅，培养自己的忠诚读者，并于1996年创建了三联韬奋图书中心，成为北京最具影响力的人文社科书店之一；</p>
                <p>建设以《读书》、《爱乐》（1993年创刊）、《三联生活周刊》（1995年创刊）和《竞争力》（2002年创刊）等为主干的期刊群，丰富三联文化，培植各个层面的作者和读者，为三联的全方位发展和增长作出贡献。</p>
                <p>与此战略相对应，三联书店在不同层面推出了大量一流读物。</p>
                <p>在学术层面，组织了以问题性、前沿性和经典性为主导的译作系列“学术前沿”，其中萨义德的《东方学》（1999年）是“全球第一个完整的中文译本”。与“文化生活译丛”注重十九世纪末二十世纪初西方思潮的“向后看”不同，也与“现代西方学术文库”的“向前看”不同，三联的译丛开始与世界最新思潮同步。此外，还出版了以青年学者的原创学术著作为核心的“三联・哈佛燕京学术丛书”，又精选重要学者的专著成集（陈寅恪、钱锺书、黄仁宇、钱穆、吴宓、王世襄等），使原创专著与译著相辅相成，共同推进。</p>
                <p>中层读物方面，三联出版了“乡土中国系列”，“建筑二十讲系列”，“经济学家手札”，“大众经济学丛书”，“近距离看美国系列”等图书，仍然秉持着“出版一流读物”的原则。其中最受关注的是引进了“金庸作品集”，正式地为广大读者带来了一个包含丰富历史、文化内涵的武侠世界。与此同时，“乡土中国系列”，“建筑二十讲系列”等图文书也引领了“读图时代”的潮流。
                </p>
            </div>
            <div class="item">
                <strong>○ 由特而强（2003―今）</strong>
                <p>“三联书店60 年的发展史，是一部坚持方向、服务大众、与时俱进的历史，是一部创建品牌、创新品牌的历史，是一部开拓经营、做强做大的历史，是一部以人为本、不断壮大人才队伍的历史”。</p>
                <p>2002年三联书店加入中国出版集团。近年来，三联书店面对阅读环境的新变化，延续“各层次新锐一流”的策略，进一步开发新的增长点。</p>
                <p>在学术方面，三联坚持深刻而独到的思想性和前瞻性，并进一步加强西方学术思想的细读诠释和辨析梳理，出版了“西学源流”系列和“剑桥哲学指针（英文版）”系列。同时，加强原创学术著作出版，组织出版了一批在各学科专业堪称领军人物的著名学者如汪晖、陈来、李零、茅海建等的力作。</p>
                <p>中层读物上，新版“新知文库”以生动的叙述形式介绍近年自然科学和人文社会科学方面新的知识成果，使读者在愉悦的阅读中获取新知，开阔视野，领悟和体会隐藏其中的理性精神和科学规律。</p>
                <p>在期刊出版方面，突出两个重点：一是积极创造条件扶持《三联生活周刊》、《读书》、《爱乐》的发展，使其在中国同类刊物中最具影响力；二是大力创新，创办《新知》杂志，旨在宣传新知识、新理念，表达方式深入隽永，别具一格。</p>
            </div>
        </div>
    </div>
    <div class="footbar-part">
        <div class="container">
            <div class="foot-left">
                <img src="./img/footbar/logo.png" alt="">
            </div>
            <div class="foot-right">
                <p>地址：中国北京美术馆东街22号 100010  |  电话：8610-64001122</p>
                <p>Copyright © 2013 SDX Joint Publishing Company.All rights Reserved</p>
                <p>生活·读书·新知三联书店版权所有 | 技术支持：云章科技 </p>
                <p>ICP备 案 号：京ICP备12011204号-3</p>
            </div>
        </div>
    </div>
</body>
</html>