<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/cssReset.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/footbar.css">
    <link rel="stylesheet" href="./css/shop_hours.css">
</head>
<style>
    .topbar-part{
        height: 80px;
    }
    .topbar-part .container img:first-child{
      float: left;
    }
    .topbar-part .container img:nth-child(2){
      float: right;
      /* margin-top: 20px; */
      width: 320px;
    }
</style>
<body>
    <div class="topbar-part">
        <div class="container">
          <img src="./img/topbar/logotitle.jpg" alt="">
          <img src="./img/topbar/dhtitle.jpg" alt="">
        </div>
    </div>
    <div class="navbar-part">
        <div class="navbox">
          <div class="container clearfix">
            <div class="navbar-left">
              <ul>
                <li><a href="./index.html">首页</a></li>
                <li><a href="./overview_intro.html">概览<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="./overview_intro.html">三联简介</a></li>
                      <li><a href="./overview_historical.html">发展历程</a></li>
                      <li><a href="./overview_leader.html">领导介绍</a></li>
                      <li><a href="./overview_organization.html">组织结构</a></li>
                      <li><a href="#">荣誉</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./latest_news.html">新闻<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="./latest_news.html">最新资讯</a></li>
                      <li><a href="./notice.html">公告动态</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./book.html">图书</a></li>
                <li><a href="#">刊群<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="#">读书</a></li>
                      <li><a href="#">三联生活周刊</a></li>
                      <li><a href="#">新知</a></li>
                      <li><a href="#">三联爱乐</a></li>
                    </ol>
                  </div>
                </li>
                <li class="active"><a href="./shop_hours.html">门店<div class="down"></div></a>
                  <div class="downlist1 downlast">
                    <ol class="clearfix">
                      <li><a href="./shop_hours.html">三联韬奋24小时书店</a></li>
                      <li><a href="./shop_haidian.html">海淀分店</a></li>
                      <li><a href="./shop_center.html">北京政务中心店</a></li>
                      <li><a href="#">成都分店</a></li>
                      <li><a href="./shop_slt.html">三里屯分店</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./author.html">作者</a></li>
                <li><a href="./login.html">读者</a></li>
              </ul>
            </div>
            <div class="navbar-right">
              <a href="#"><img src="./img/navbar/douban.png" alt=""></a>
              <a href="#" a><img src="./img/navbar/mao.png" alt=""></a>
              <a href="#"><img src="./img/navbar/weibo.png" alt=""></a>
              <a href="#"><img src="./img/navbar/weixin.png" alt=""></a>
            </div>
          </div>
        </div>
    </div>
    <div class="shop_hours-part">
        <div class="container">
            <img src="./img/banner1.jpg" alt="" class="shop_hours-top">
            <div class="breadnav">
                <div class="breadbox">
                    <img src="./img/home.png" alt="">
                    <span><a href="./index.html">首页</a></span>
                    <span>门店</span>
                </div>
            </div>
            <h2>北京三联韬奋书店（成都）分店简介</h2>
            <p>北京三联韬奋书店（成都）分店是三联书店开设的第四家分店，也是在北京以外城市开办的全国首家分店。成都分店设立在成都市青羊区窄巷子30号一座具有川西特色的四合院里，意在创造一个集纳阅读、活化创意、知识创作、三联活动的新文化空间。</p>
            <p>2018年1月21日，北京三联韬奋书店（成都）分店举行了开业典礼。成都分店秉持共创、共治、共享的经营管理理念，为营造更好的阅读空间和购书环境，创造更美好的人与书的相遇。</p>
            <p>成都分店大体分为“三联生活”“三联阅读”“三联活动”三个空间。“三联生活”空间以文创产品为主。“三联阅读”空间以陈列经典丛书为主，力图建构一个相对完整的知识框架，其中所设生活・读书・新知三联书店出版的书籍专区几乎囊括了三联近几年出版的所有经典丛书。“三联活动”空间则为书店活动服务，包括学术论坛、文化讲座、新书发布会以及设计文创课堂等形式，参与构建成都本地精神文化生活。</p>
            <p>地址：成都市青羊区・窄巷子30号院落</p>
        </div>
    </div>
    <div class="footbar-part">
        <div class="container">
            <div class="foot-left">
                <img src="./img/footbar/logo.png" alt="">
            </div>
            <div class="foot-right">
                <p>地址：中国北京美术馆东街22号 100010  |  电话：8610-64001122</p>
                <p>Copyright © 2013 SDX Joint Publishing Company.All rights Reserved</p>
                <p>生活·读书·新知三联书店版权所有 | 技术支持：云章科技 </p>
                <p>ICP备 案 号：京ICP备12011204号-3</p>
            </div>
        </div>
    </div>
</body>
</html>