<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/cssReset.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/footbar.css">
    <link rel="stylesheet" href="./css/shop_hours.css">
</head>
<style>
    .topbar-part{
        height: 80px;
    }
    .topbar-part .container img:first-child{
      float: left;
    }
    .topbar-part .container img:nth-child(2){
      float: right;
      /* margin-top: 20px; */
      width: 320px;
    }
</style>
<body>
    <div class="topbar-part">
        <div class="container">
          <img src="./img/topbar/logotitle.jpg" alt="">
          <img src="./img/topbar/dhtitle.jpg" alt="">
        </div>
    </div>
    <div class="navbar-part">
        <div class="navbox">
          <div class="container clearfix">
            <div class="navbar-left">
              <ul>
                <li><a href="./index.html">首页</a></li>
                <li><a href="./overview_intro.html">概览<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="./overview_intro.html">三联简介</a></li>
                      <li><a href="./overview_historical.html">发展历程</a></li>
                      <li><a href="./overview_leader.html">领导介绍</a></li>
                      <li><a href="./overview_organization.html">组织结构</a></li>
                      <li><a href="#">荣誉</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./latest_news.html">新闻<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="./latest_news.html">最新资讯</a></li>
                      <li><a href="./notice.html">公告动态</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./book.html">图书</a></li>
                <li><a href="#">刊群<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="#">读书</a></li>
                      <li><a href="#">三联生活周刊</a></li>
                      <li><a href="#">新知</a></li>
                      <li><a href="#">三联爱乐</a></li>
                    </ol>
                  </div>
                </li>
                <li class="active"><a href="./shop_hours.html">门店<div class="down"></div></a>
                  <div class="downlist1 downlast">
                    <ol class="clearfix">
                      <li><a href="./shop_hours.html">三联韬奋24小时书店</a></li>
                      <li><a href="./shop_haidian.html">海淀分店</a></li>
                      <li><a href="./shop_center.html">北京政务中心店</a></li>
                      <li><a href="./shop_chengdu.html">成都分店</a></li>
                      <li><a href="#">三里屯分店</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./author.html">作者</a></li>
                <li><a href="./login.html">读者</a></li>
              </ul>
            </div>
            <div class="navbar-right">
              <a href="#"><img src="./img/navbar/douban.png" alt=""></a>
              <a href="#" a><img src="./img/navbar/mao.png" alt=""></a>
              <a href="#"><img src="./img/navbar/weibo.png" alt=""></a>
              <a href="#"><img src="./img/navbar/weixin.png" alt=""></a>
            </div>
          </div>
        </div>
    </div>
    <div class="shop_hours-part">
        <div class="container">
            <img src="./img/banner1.jpg" alt="" class="shop_hours-top">
            <div class="breadnav">
                <div class="breadbox">
                    <img src="./img/home.png" alt="">
                    <span><a href="./index.html">首页</a></span>
                    <span>门店</span>
                </div>
            </div>
            <h2>北京三联韬奋书店三里屯分店简介</h2>
            <p>北京三联韬奋书店三里屯分店是三联书店开设的第五家分店。在北京市建设“全国文化中心”的大背景下，三联韬奋书店进驻三里屯商区，将为提升该地区的公共文化服务功能发挥重要作用，成为三里屯地区公共文化的新地标和新窗口。</p>
            <p>2018年4月23日，生活・读书・新知三联书店举办了北京三联韬奋书店三里屯分店开业仪式。著名党史研究专家、原中央文献研究室副主任金冲及，中宣部出版局局长郭义强，北京市委常委、宣传部长杜飞进，中国出版集团公司总裁谭跃，北京市新闻出版广电局局长杨烁，中国书刊发行业协会理事长艾立民等出席了活动。</p>
            <p>三里屯分店营业面积近700平方米，店内上架优质图书近20000种，分为文学、艺术、学术、文化、生活、儿童等板块。图书以外，营业范围还包括文创产品、咖啡简餐等。书店将与各出版机构、文化单位联合策划、举办新书首发式、展览、签名售书、学术讨论会、讲座沙龙等文化活动。三里屯分店继续沿用24小时书店运营模式，为读者提供“深夜书房”，在朝阳区三里屯这样一个国际化、多元化、时尚化的区域，向世界传播中国文化，让读者可以更好地认识中国，了解世界。</p>
            <p>地址：北京市朝阳区三里屯太古里北侧，三里屯南街3.3大厦西侧</p>
        </div>
    </div>
    <div class="footbar-part">
        <div class="container">
            <div class="foot-left">
                <img src="./img/footbar/logo.png" alt="">
            </div>
            <div class="foot-right">
                <p>地址：中国北京美术馆东街22号 100010  |  电话：8610-64001122</p>
                <p>Copyright © 2013 SDX Joint Publishing Company.All rights Reserved</p>
                <p>生活·读书·新知三联书店版权所有 | 技术支持：云章科技 </p>
                <p>ICP备 案 号：京ICP备12011204号-3</p>
            </div>
        </div>
    </div>
</body>
</html>