<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/cssReset.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/footbar.css">
    <link rel="stylesheet" href="./css/shop_hours.css">
</head>
<style>
    .topbar-part{
        height: 80px;
    }
    .topbar-part .container img:first-child{
      float: left;
    }
    .topbar-part .container img:nth-child(2){
      float: right;
      /* margin-top: 20px; */
      width: 320px;
    }
</style>
<body>
    <div class="topbar-part">
        <div class="container">
          <img src="./img/topbar/logotitle.jpg" alt="">
          <img src="./img/topbar/dhtitle.jpg" alt="">
        </div>
    </div>
    <div class="navbar-part">
        <div class="navbox">
          <div class="container clearfix">
            <div class="navbar-left">
              <ul>
                <li><a href="./index.html">首页</a></li>
                <li><a href="./overview_intro.html">概览<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="./overview_intro.html">三联简介</a></li>
                      <li><a href="./overview_historical.html">发展历程</a></li>
                      <li><a href="./overview_leader.html">领导介绍</a></li>
                      <li><a href="./overview_organization.html">组织结构</a></li>
                      <li><a href="#">荣誉</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./latest_news.html">新闻<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="./latest_news.html">最新资讯</a></li>
                      <li><a href="./notice.html">公告动态</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./book.html">图书</a></li>
                <li><a href="#">刊群<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="#">读书</a></li>
                      <li><a href="#">三联生活周刊</a></li>
                      <li><a href="#">新知</a></li>
                      <li><a href="#">三联爱乐</a></li>
                    </ol>
                  </div>
                </li>
                <li class="active"><a href="./shop_hours.html">门店<div class="down"></div></a>
                  <div class="downlist1 downlast">
                    <ol class="clearfix">
                      <li><a href="./shop_hours.html">三联韬奋24小时书店</a></li>
                      <li><a href="./shop_haidian.html">海淀分店</a></li>
                      <li><a href="#">北京政务中心店</a></li>
                      <li><a href="./shop_chengdu.html">成都分店</a></li>
                      <li><a href="./shop_slt.html">三里屯分店</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./author.html">作者</a></li>
                <li><a href="./login.html">读者</a></li>
              </ul>
            </div>
            <div class="navbar-right">
              <a href="#"><img src="./img/navbar/douban.png" alt=""></a>
              <a href="#" a><img src="./img/navbar/mao.png" alt=""></a>
              <a href="#"><img src="./img/navbar/weibo.png" alt=""></a>
              <a href="#"><img src="./img/navbar/weixin.png" alt=""></a>
            </div>
          </div>
        </div>
    </div>
    <div class="shop_hours-part">
        <div class="container">
            <img src="./img/banner1.jpg" alt="" class="shop_hours-top">
            <div class="breadnav">
                <div class="breadbox">
                    <img src="./img/home.png" alt="">
                    <span><a href="./index.html">首页</a></span>
                    <span>门店</span>
                </div>
            </div>
            <h2>北京三联韬奋书店北京政务中心店简介</h2>
            <p>三联韬奋书店北京政务中心店是三联书店在北京开设的第三家分店，位于北京市丰台区六里桥西南角的北京市政务服务中心，营业面积300平米，以图书、创意产品、咖啡为经营特色，营业时间与政府服务中心办公时间同步（周一至周五，8:30-17:30）。</p>
            <p>2016年4月22日，于北京三联韬奋书店创办20周年之际，三联韬奋书店北京政务中心店举行了揭牌仪式，正式投入运营。中国出版集团公司党组书记王涛、国家新闻出版广电总局出版管理司副司长李一昕、北京市新闻出版广电局副局长张苏等出席了座谈会。北京市政务服务中心于2015年11月正式启用，涉及市政府40个部门的740项审批事项均可在此办理，日均人流量5000余人。北京市政务服务中心引入三联韬奋书店所表现出的是政府推进“全民阅读”的决心与努力，这一举措将具有一定的示范作用。</p>
            <p>地址：北京市丰台区西三环南路1号(六里桥西南角)</p>
            <p>电话：010-89150001</p>
        </div>
    </div>
    <div class="footbar-part">
        <div class="container">
            <div class="foot-left">
                <img src="./img/footbar/logo.png" alt="">
            </div>
            <div class="foot-right">
                <p>地址：中国北京美术馆东街22号 100010  |  电话：8610-64001122</p>
                <p>Copyright © 2013 SDX Joint Publishing Company.All rights Reserved</p>
                <p>生活·读书·新知三联书店版权所有 | 技术支持：云章科技 </p>
                <p>ICP备 案 号：京ICP备12011204号-3</p>
            </div>
        </div>
    </div>
</body>
</html>