<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/cssReset.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/footbar.css">
    <link rel="stylesheet" href="./css/shop_hours.css">
</head>
<style>
    .topbar-part{
        height: 80px;
    }
    .topbar-part .container img:first-child{
      float: left;
    }
    .topbar-part .container img:nth-child(2){
      float: right;
      /* margin-top: 20px; */
      width: 320px;
    }
</style>
<body>
    <div class="topbar-part">
        <div class="container">
          <img src="./img/topbar/logotitle.jpg" alt="">
          <img src="./img/topbar/dhtitle.jpg" alt="">
        </div>
    </div>
    <div class="navbar-part">
        <div class="navbox">
          <div class="container clearfix">
            <div class="navbar-left">
              <ul>
                <li><a href="./index.html">首页</a></li>
                <li><a href="./overview_intro.html">概览<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="./overview_intro.html">三联简介</a></li>
                      <li><a href="./overview_historical.html">发展历程</a></li>
                      <li><a href="./overview_leader.html">领导介绍</a></li>
                      <li><a href="./overview_organization.html">组织结构</a></li>
                      <li><a href="#">荣誉</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./latest_news.html">新闻<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="./latest_news.html">最新资讯</a></li>
                      <li><a href="./notice.html">公告动态</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./book.html">图书</a></li>
                <li><a href="#">刊群<div class="down"></div></a>
                  <div class="downlist1">
                    <ol class="clearfix">
                      <li><a href="#">读书</a></li>
                      <li><a href="#">三联生活周刊</a></li>
                      <li><a href="#">新知</a></li>
                      <li><a href="#">三联爱乐</a></li>
                    </ol>
                  </div>
                </li>
                <li class="active"><a href="#">门店<div class="down"></div></a>
                  <div class="downlist1 downlast">
                    <ol class="clearfix">
                      <li><a href="#">三联韬奋24小时书店</a></li>
                      <li><a href="./shop_haidian.html">海淀分店</a></li>
                      <li><a href="./shop_center.html">北京政务中心店</a></li>
                      <li><a href="./shop_chengdu.html">成都分店</a></li>
                      <li><a href="./shop_slt.html">三里屯分店</a></li>
                    </ol>
                  </div>
                </li>
                <li><a href="./author.html">作者</a></li>
                <li><a href="./login.html">读者</a></li>
              </ul>
            </div>
            <div class="navbar-right">
              <a href="#"><img src="./img/navbar/douban.png" alt=""></a>
              <a href="#" a><img src="./img/navbar/mao.png" alt=""></a>
              <a href="#"><img src="./img/navbar/weibo.png" alt=""></a>
              <a href="#"><img src="./img/navbar/weixin.png" alt=""></a>
            </div>
          </div>
        </div>
    </div>
    <div class="shop_hours-part">
        <div class="container">
            <img src="./img/banner1.jpg" alt="" class="shop_hours-top">
            <div class="breadnav">
                <div class="breadbox">
                    <img src="./img/home.png" alt="">
                    <span><a href="./index.html">首页</a></span>
                    <span>门店</span>
                </div>
            </div>
            <h2>北京三联韬奋24小时书店简介</h2>
            <p>北京三联韬奋24小时书店，前身为北京三联韬奋书店，为三联书店的全资子公司，成立于1996年8月，是一家在社会上有较大影响的社科人文书店，现为北京地区著名文化地标。经营面积1400平米，图书品种近9万种。2014年初，为了以实际行动助推全民阅读活动，扩大三联书店的品牌影响力，增强社会效益和经济效益，在国家扶持实体书店的利好形势下，三联书店决定在原北京三联韬奋书店的基础上创办24小时书店。一是延长了营业时间，成为“24小时”全天候书店，二是重新装修和调整布局，三是和雕刻时光咖啡店同步运营，联手互动。以全新面貌于2014年4月8日试营业，同年4月23日举行挂牌仪式并正式营业。</p>
            <p>北京三联韬奋24小时书店作为北京首家24小时全天候营业书店，对促进全民阅读和文化繁荣有重要的现实意义和示范作用。她秉承三联书店的一贯宗旨，实践韬奋先生“竭诚为读者服务”的精神，努力为读者创造精神文化园地，是三联书店出版编辑主业的延伸，是出版社直接与读者沟通的窗口，极大地拓展了三联书店经营活动的空间与形态，得到社会各界的关注和支持。</p>
            <p>北京三联韬奋24小时书店以经营哲学社会科学、文学、艺术图书为主，兼及音像制品、文化创意产品销售，每年经常性、有选择地举办包括三联书店在内的出版社的诸如讲座、新书发布、研讨、展览等各类营销活动百余场。</p>
            <p>地址：北京东城区美术馆东街22号 （100010）</p>
            <p>电话：010-64002710，010-64001122 转 3061</p>
        </div>
    </div>
    <div class="footbar-part">
        <div class="container">
            <div class="foot-left">
                <img src="./img/footbar/logo.png" alt="">
            </div>
            <div class="foot-right">
                <p>地址：中国北京美术馆东街22号 100010  |  电话：8610-64001122</p>
                <p>Copyright © 2013 SDX Joint Publishing Company.All rights Reserved</p>
                <p>生活·读书·新知三联书店版权所有 | 技术支持：云章科技 </p>
                <p>ICP备 案 号：京ICP备12011204号-3</p>
            </div>
        </div>
    </div>
</body>
</html>