.footbar-part{
    height: 170px;
    /* margin-top: 30px; */
    background-color: #002D64;
}
.footbar-part .container{
    display: flex;
    height: 170px;
    align-items: center;
    background-color: #002D64;
}
.footbar-part .foot-left{
    width: 330px;
    border-right: 2px solid #fff;
    vertical-align: middle;
}
.footbar-part .foot-left img{
    margin-left: 200px;
}
.footbar-part .foot-right{
    color: #C1C1BB;
    text-align: center;
    margin-left: 20px;
}
.footbar-part .foot-right p{
    margin-bottom: 5px;
}