.leader-part{
    margin-bottom: 200px;
}
.leader-part .leader-top{
    width: 100%;
    display: block;
}
.leader-part .breadnav{
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    background-color: #e6effa;
}
.leader-part .breadnav .breadbox{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.leader-part .breadnav .breadbox img{
    padding-right: 5px;
}
.leader-part .breadnav .breadbox span{
    padding-right: 5px;
}
.leader-part .breadnav .breadbox span::before{
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.leader-part .breadnav .breadbox span:last-child{
    color: #777;
}
.leader-part h2{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 50px;
    border-bottom: 2px solid #777;
}
.leader-part  h3{
    text-align: center;
    margin-top: 20px;
}
.leader-part .leaderbox{
    display: flex;
    align-items: center;
}
.leader-part .leaderbox .text{
    margin-top: 30px;
}
.leader-part .leaderbox .text p{
    line-height: 50px;
    margin-left: 30px;
    font-size: 18px;
}